# DATABASE CONFIG
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_URL=

# Better Auth configuration
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# Google Auth configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=

# Vite
VITE_APP_URL=
